@font-face{
	font-family: "Yellowtail";
	src: url("font/Yellowtail-Regular.otf");
}

@font-face{
	font-family: "Montserrat";
	font-weight: 300;
	font-style: lighter;
	src: url("font/Montserrat-UltraLight.otf");
}

@font-face{
	font-family: "Montserrat";
	font-weight: 700;
	font-style: bolder;
	src: url("font/Montserrat-Bold.otf");
}


body {
    color: white;
    font-family: 'Montserrat', sans-serif;

    /*TEMPORARY THINGS*/
    background: url('wallpaper.jpg');
    height: 667px;
    width: 375px;
    background-repeat: no-repeat;
    background-size: contain;
}

body div{
	display: inline-block;
	position: relative;
	/*border: solid 1px red;*/
}

#wrapper{
	position: absolute;
	width:230px;
	height: 150px;
	transform: scale(1.0);

}

#hour{
	margin-left: 0px;
	border-right: solid 1px white;
	font-weight: bold;
}

#minute{
	font-weight: 300;
}

#weekday{
	font-family: "Yellowtail", cursive;
	transform: rotate(-14deg);
	top:-35px;
	left:30px;
}

#date{
	top:0px;
	left:75px;
}

.large{
	font-size:4em;
}

.tint{
	color:#F9CF82;
}
