@font-face {
    font-family: 'Yellowtail';
    src: url('font/Yellowtail-Regular.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: lighter;
    src: url('font/Montserrat-UltraLight.otf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    src: url('font/Montserrat-Bold.otf');
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;

    /*TEMPORARY THINGS*/
    background: url('wallpaper.jpg');
    height: 667px;
    width: 375px;
    background-repeat: no-repeat;
    background-size: contain;
}

body div {
    display: inline-block;
    position: absolute;
    text-align: center;
    /*border: solid 1px red;*/
}

#wrapper {
    position: absolute;
    width: 230px;
    margin: 0 auto;
    transform: scale(1);
    height: 150px;
    text-shadow: 5px 5px 5px rgba(0,0,0,.5);
/*    top:210px;
    left: 55px;*/
}

#hour {
    border-right: solid 1px white;
    font-weight: bold;
    padding-right: 5px;
    top: 0px;
    left: 30px;
}

#minute {
    font-weight: 300;
}

#weekday {
    font-family: 'Yellowtail', cursive;
    transform: rotate(-14deg);
    top: 70px;
    left: 40px;
}

#date {
    top: 76px;
    left: 85px;
}

#day {}

#month {}

.large {
    font-size: 4em;
}

.tint {
    color: #F1C169;
}
