body {
    color: white;
    font-family: 'Montserrat', sans-serif;

    /*TEMPORARY THINGS*/
    background: url('wallpaper.jpg');
    height: 667px;
    width: 375px;
    background-repeat: no-repeat;
    background-size: contain;
}